:root {
    /*light mode*/
    --corBackground: #f2f2f2;
    --corPrimaria: #004aad;
    --corPrimariaHover: rgb(70, 154, 250);
    --corSecundaria: #d0d0dd;
    --corTerciaria: rgb(48, 48, 66);
    --corQuartenaria: #e1e4ec;
    --corBorder: #a7a2b6;

    --fontePrincipal: Arial;
}

body {
    font-family: var(--fontePrincipal);
    background: var(--corBackground);
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin: 0px;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 0px 0px 34px 34px;
    background-color: var(--corPrimaria);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
}

/*LIGHT MODE legalzao*/
.dark {
    --corBackground: #07091a;
    --corPrimariaHover: rgb(41, 107, 230);
    --corSecundaria: #1e1d2b;
    --corTerciaria: rgb(234, 234, 241);
    --corQuartenaria: rgb(21, 22, 26);
    --corBorder: #3b3f55;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 30px auto 0 auto;
    margin-top: 90px;
    display: flex;
    gap: 180px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.sideOptions section {
    padding: 40px;
    border: solid 2px var(--corBorder);
    border-radius: 12px;
    width: 400px;
    height: 600px;
    background-color: var(--corSecundaria);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
}

.sideOptions h2 {
    text-align: center;
    margin: 0 0 26px 0;
    font-size: 36px;
    color: var(--corTerciaria)
}

/*botao da escolha de comeco/fim*/
.dropdown {
    width: 100%;
    position: relative;
    font-family: var(--fontePrincipal);
    margin-bottom: 12px;
}

.dropdownInput {
    padding: 25px;
    border-radius: 8px;
    border: 2px solid var(--corBorder);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--corTerciaria);
    font-style: italic;
    font-weight: bold;
    background: var(--corQuartenaria);
}

.arrow {
    font-size: 12px;
}

.dropdownOptions {
    display: none;
    flex-direction: column;
    background: white;
    border: 1px solid var(--corBorder);
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.option {
    color: var(--corTerciaria);
    background: var(--corQuartenaria);
    padding: 10px;
    border: 1px solid var(--corBorder);
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.option:hover {
    background: var(--corSecundaria);
}
/*fim botao de inicio/fim*/

.darkLight {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto 0 auto;
    font-size: 22px;
    cursor: pointer;
    background: var(--corPrimaria);
}

.mapArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 800px;
}

/*mapa*/
#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 800px;
    height: 680px;
    background: var(--corSecundaria);
    border: 2px solid var(--corBorder);
    border-radius: 16px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
}

.rota {
    position: relative;
    background: var(--corQuartenaria);
    padding: 20px;
    border-radius: 26px;
    border: 2px solid var(--corBorder);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    box-sizing: border-box;
    margin: 30px auto 1 auto;
    bottom: 100px;
}

#rotaTexto {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bold;
}

#resultado {
    width: 100%;
    text-align: center;
    display: block;
    color: var(--corTerciaria);
}

.ponto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--corPrimaria);
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: .2s;
    cursor: pointer;
}

.ponto:hover {
    background: var(--corPrimariaHover);
    color: var(--corTerciaria)
}

.ponto.bloqueado {
    background: #777;
    text-decoration: line-through;
}

.linha {
    position: absolute;
    height: 5px;
    background: #444;
    transform-origin: 0 0;
    transition: .2s;
}

.linha.hidden {
    opacity: 0;
}

.linha.percorrida {
    background: rgb(22, 211, 22);
}

#painel {
    margin-top:10px;
    background:white;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    width:550px;
    text-align:center;
}

button {
    width: 100%;
    padding: 15px;
    background: var(--corPrimaria);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 20px;
}

button:hover {
    background: var(--corPrimariaHover)
}

.info {
    margin: 15px 0 5px 0;
    font-size: 16px;
    color: var(--corTerciaria);
    font-style: italic;
}

footer {
    width: 100%;
    position: fixed; left: 0; right: 0; bottom: 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--corSecundaria);
    font-size: 16px;
    background: var(--corTerciaria);
    z-index: 10;
}

p {
    font-size: 16px;
    font-style: italic;
}

.nomes {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}
